<ion-menu [content]="content" *ngIf="isThereASession()" color="primary">
        <ion-header color="primary">
          <ion-toolbar color="primary">
            <ion-title>MENU</ion-title>
          </ion-toolbar>
        </ion-header>
    
        <ion-content class="pep" color="primary">
          <ion-list class="pep">
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
              {{p.title}}
            </button>
            <div *ngIf="(findRol())">
            <button menuClose ion-item *ngFor="let p of pagesProfe" (click)="openPage(p)">
               {{p.title}}
            </button>
          </div>
            <button ion-item *ngIf="isThereASession()" (click)="logOut()">
                  {{ 'LOGOUT' | translate }}
            </button>
          </ion-list>
        </ion-content>
    
      </ion-menu>
      <ion-nav #content [root]="rootPage" color="primary"></ion-nav>