<!--
  Generated template for the ProyectosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
          {{'PROJECT'| translate}}
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only  *ngIf="(validarRolActual())" (click)="addProject()" >
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar> 
    <ion-toolbar>
      <ion-buttons end>
        <button  ion-button icon-only #button2 (click)="buttonClick(button2)">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>
      <ion-segment [(ngModel)]="pet">
        
        <ion-segment-button *ngIf="(validarRolActual())" value="creator">
            {{'CREATOR_PROJECT'| translate }}
        </ion-segment-button>
        <ion-segment-button   value="participant">
          {{'PARTICIPANT_PROJECT'| translate }}
        </ion-segment-button>
         
      </ion-segment>
    </ion-toolbar>
  </ion-header>
 
  <ion-content padding> 
      <ion-row >
        <ion-col>
          <ion-item >
            <ion-label>{{'CATEGORY' | translate}}</ion-label>
            <ion-select >
              <div *ngFor="let item of categories">
                 <ion-option *ngIf="(item.id!=9)" [value]="item.id">{{item.name}}</ion-option>
              </div>
            </ion-select>
          </ion-item>
        </ion-col>
       
      </ion-row>

     
      <div [ngSwitch]="pet">
        <div *ngSwitchCase="'creator'">
            <ion-label>Ésta es la lista de tus proyectos creados</ion-label>
            <ion-list>
                <ion-item *ngFor= "let item of projects_create">
                  <ion-thumbnail item-start>
                    <img src="{{item.img}}">
                  </ion-thumbnail>
                  <h2> {{item.name}}</h2>
                  <p>{{item.description}}</p>
                  <p>{{item.prom}}</p>
                  <button ion-button clear item-end (click)="viewProject($event, item)"> {{'SEE_MORE'| translate }}</button>
                </ion-item>
              </ion-list>
        </div>
        <div *ngSwitchCase="'participant'">
            <ion-label>Ésta es la lista a los proyectos que te has unido</ion-label>
            
            <ion-list>
                <ion-item *ngFor= "let item of projects_join">
                  <ion-thumbnail item-start>
                    <img src="{{item.img}}">
                  </ion-thumbnail>
                  <h2> {{item.name}}</h2>
                  <p>{{item.description}}</p>
                  <p>{{item.prom}}</p>
                  <button ion-button clear item-end (click)="viewProject($event, item)"> {{'SEE_MORE'| translate }}</button>
                </ion-item>
              </ion-list>
          </div>
      </div>
     
  
  
  </ion-content>
  

